/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Global Variable */
:root{
    --sideBGColor : #040b14;
    --themeColor : #00A78E;
    --iconBGColor : #2c2f3f;
    --textColor : #525252;
    --bgColor : #f7f7f7;
}

/*  Header Start here  */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px ;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);
}

header .profile h1{
    color: #fff;
    font-weight: 600;
}

header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: #fff;
    font-size: 18px;
    margin: 1.5px;
    transition: .4s;
}

header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/*  Navbar  */
header nav{
    margin-top: 30px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.6s;
}

header nav ul li a:hover i{
    color: var(--themeColor);
}

header nav ul li .active i{
    color: var(--themeColor);
}

/*  Footer  */
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;

}

/*  Mobile Toggle btn  */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 99;
    display: none;
}

/*  Mobille View  */
@media only screen and (max-width : 1050px){
    header{
        left: -300px;
    }

    header .footer{
        left: -300px;
    }

    #MenuBtn{
        display: block;
    }
}

/*  Header Toggle  */
.mobile-nav-active header{
    left: 0;
}

.mobile-nav-active header .footer{
    left: 0;
}
/*  Header Ends here  */


/*..........................................................................................................*/

/*  Main Section  */

main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media only screen and (max-width : 1050px){
    main{
        margin-left: 0;
    }
}

/*  Home Section  */

#home{
    width: 100%;
    height: 100vh;
    background: url(Image/Cream\ and\ Blue\ Pastel\ Abstract\ Creative\ Portfolio\ Presentation.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding: 70px 200px;
    position: relative;
}


#home .home-row h1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home .home-row h1 span{
    color: var(--themeColor);
}

#home .home-row p{
    color: white;
    font-size: 30px;
    font-weight: 50px;
}

#home .home-row p span{
    border-bottom: 4px solid var(--textColor);
}


#home .home-row button{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 50px 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    background-color: var(--iconBGColor);

}

@media only screen and (max-width : 735px){
    #home{
        padding: 30px;
    }

    #home .home-row h1{
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }

    #home .home-row p{
        font-size: 20px;
        font-weight: 400;
    }
}

@media only screen and (max-width : 480px){
    #home{
        flex-direction:column ;
    }
}




















.resume {
    border: none;
    background: #E65F78;
    padding: 12px 30px;
    border-radius: 10px;
    transition: .4s;
}

.resume a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.resume:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.header_txt {
    margin-top: 12%;
}

.header_txt p {
    font-weight: 700;
    font-size: 30px;
}

.header_txt h1 {
    font-size: 70px;
    font-weight: 900px;

}

.header_txt h1 span {
    color: #E65F78;
}

.header_btn {
    margin-top: 30px;
}

.header_btn button {
    margin: 20px;
}

.header_btn button a {
    font-size: 15px;
}







































#canvas{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
  }
  .manual {
      position: absolute;
      z-index: 99999;
      background: rgb(3, 255, 87);
      padding: 10px;
      font-size: 12px;
      font-family: arial;
      color: #999;
      bottom: 0;
      pointer-events: none;
  }
















  /*...................About Us Start ..................................*/
  #about {
    padding: 100px 0;
    background:url(Image/Soft\ Sand\ Minimalist\ Modern\ Thesis\ Defense\ Presentation.jpg);
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 300px;
    padding-top: 100px;
    
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    font-size: 18px;
    font-weight: 500;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.college-name {
    color: #E65F78;
    font-size: 15px;
    font-weight: 900;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #e65f78;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
  /*....................About Us End*/







  